* {
	margin: 0;
	padding: 0;
}
.wrapper{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
	height: 1001vh;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.logo {
	float: left;
}
.logo img {
width: 100%;
	padding: 0 0;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text a {
	border: 1px solid rgb(207, 207, 207);
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}
.sign-button{
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 2% 70%;
	text-align: center;
}
.sign-button a {
	border: 1px solid rgb(255, 255, 255);
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	background-color: #fff;
    border-radius: 12px;
	display: inline-block;
	color: rgb(0, 0, 0);
}

/*resposive*/
