.paper3{
    padding: 20px;
    height: 70vh;
    width: 580px;
    margin: 40px auto;
}
.mainHead{
    text-align: center;
    margin: -10px auto;
}
.paper4{
    padding: 20px;
    height: 60vh;
    width: 580px;
    margin:-450px auto;
 
}